# Clerk
# Clerk publishable key (required)
VITE_CLERK_PUBLISHABLE_KEY=
# Clerk secret key (required)
CLERK_SECRET_KEY=
# Clerk Frontend API URL for Convex JWT validation (required)
CLERK_JWT_ISSUER_DOMAIN=

# Convex
# Convex deployment name
CONVEX_DEPLOYMENT=
# Convex deployment URL (required)
VITE_CONVEX_URL=
